body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;

	width: 800px;
	margin: 0 auto;
	padding: 10px;
	color: #333;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

label {
	display block;
	font-size: 20px;
}

.error {
	color: red;
}

.header {
	width: 100%;
}

.main-title {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-bottom: 30px;
	text-decoration: none;
}

.edithistory {
	font-size: 14px;
	margin-left: 60%;
	margin-bottom: 30px;
}

.loginout {
	font-size: 14px;
	float: right;
	margin-bottom: 30px;
}

a:visited {
	color: ＃282828;
	text-decoration: none;
}

a:link {
	color: ＃282828;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}