<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="main.css" />
	<titile>Xiaofeng's Wiki</titile>
</head>

<body>
	<a href="/" class="main-title">Xiaofeng' Wiki</a>
	<div class="edithistory">
		{% if login %}
			<a href="/_edit/{{pagename}}">edit</a>|
		{% endif %}
		<a href="/_history/{{pagename}}">history</a>
	</div>

	<div class="loginout">
		{% if login %}
			{{username}}(<a href="/logout">logout</a>)
		{% else %}
			<a href="/login">login</a>|
			<a href="/signup">signup</a>
		{% endif %}
	</div>


	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
</body>

</html>