<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<title>Xiaofeng's Wiki</title>
</head>

<body>
	<div class="header">
		<a href="/" class="main-title">Xiaofeng' Wiki</a>
		<span class="edithistory">
			{% if login %}
				<a href="/_edit/{{pagename}}">edit</a>|
			{% endif %}
			<a href="/_history/{{pagename}}">history</a>
		</span>

		<span class="loginout">
			{% if login %}
				{{username}}(<a href="/logout">logout</a>)
			{% else %}
				<a href="/login">login</a> |
				<a href="/signup">signup</a>
			{% endif %}
		</span>
	</div>

	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
</body>

</html>